In [23]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("/Users/ayushjain/Documents/AI-Powered Business Operations & Profit Optimization System/data/grocery_chain_data.csv")
df.head()

,customer_id,store_name,transaction_date,aisle,product_name,quantity,unit_price,total_amount,discount_amount,final_amount,loyalty_points
0,2824,GreenGrocer Plaza,2023-08-26,Produce,Pasta,2.0,7.46,14.92,0.00,14.92,377
1,5506,ValuePlus Market,2024-02-13,Dairy,Cheese,1.0,1.85,1.85,3.41,-1.56,111
2,4657,ValuePlus Market,2023-11-23,Bakery,Onions,4.0,7.38,29.52,4.04,25.48,301
3,2679,SuperSave Central,2025-01-13,Snacks & Candy,Cereal,3.0,5.50,16.50,1.37,15.13,490
4,9935,GreenGrocer Plaza,2023-10-13,Canned Goods,Orange Juice,5.0,8.66,43.30,1.50,41.80,22

In [32]:
df.shape        
df.columns      
df.info()       
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       1980 non-null   int64
 1   store_name        1955 non-null   object
 2   transaction_date  1980 non-null   object
 3   aisle             1980 non-null   object
 4   product_name      1980 non-null   object
 5   quantity          1980 non-null   float64
 6   unit_price        1980 non-null   float64
 7   total_amount      1980 non-null   float64
 8   discount_amount   1980 non-null   float64
 9   final_amount      1980 non-null   float64
 10  loyalty_points    1980 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 170.3+ KB

,customer_id,quantity,unit_price,total_amount,discount_amount,final_amount,loyalty_points
count,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000
mean,5542.958081,2.968182,15.488045,45.902576,4.469591,41.432985,255.147980
std,2575.771856,1.419028,8.400823,35.018599,4.962001,32.593328,146.009333
min,1006.000000,1.000000,0.990000,1.010000,0.000000,-3.430000,0.000000
25%,3271.500000,2.000000,8.240000,18.000000,1.240000,15.800000,128.000000
50%,5582.500000,3.000000,15.190000,37.130000,3.045000,32.820000,265.500000
75%,7791.750000,4.000000,22.862500,67.930000,5.402500,60.800000,378.000000
max,9998.000000,5.000000,29.980000,149.900000,29.940000,147.910000,500.000000

In [38]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [40]:
df.isnull().sum()

customer_id          0
store_name          25
transaction_date     0
aisle                0
product_name         0
quantity             0
unit_price           0
total_amount         0
discount_amount      0
final_amount         0
loyalty_points       0
dtype: int64

In [42]:
df = df.sort_values('transaction_date')

In [44]:
df.duplicated().sum()
df = df.drop_duplicates()

In [50]:
df['quantity'].min()
df['final_amount'].min()

-3.43

In [54]:
df = df[df['quantity'] >= 0]
df = df[df['final_amount'] >= 0]

In [58]:
df['quantity'].min()
df['final_amount'].min()

0.08

In [60]:
df.to_csv("clean_data.csv", index=False)