In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/ayushjain/Documents/AI-Powered Business Operations & Profit Optimization System/data/clean_data.csv")
df.head()

,customer_id,store_name,transaction_date,aisle,product_name,quantity,unit_price,total_amount,discount_amount,final_amount,loyalty_points
0,8479,City Fresh Store,2023-08-07,Beverages,Carrots,1.0,28.26,28.26,0.00,28.26,416
1,2559,ValuePlus Market,2023-08-07,Meat & Seafood,Pasta,1.0,15.33,15.33,3.07,12.26,426
2,8032,FreshMart Downtown,2023-08-08,Dairy,Onions,5.0,12.05,60.25,12.05,48.20,204
3,9336,MegaMart Westside,2023-08-08,Beverages,Orange Juice,4.0,11.73,46.92,7.04,39.88,153
4,7209,FamilyFood Express,2023-08-08,Meat & Seafood,Yogurt,1.0,25.05,25.05,1.86,23.19,283

In [3]:
df.rename(columns={
    'transaction_date': 'Date',
    'product_name': 'Product',
    'quantity': 'Units_Sold'
}, inplace=True)

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df['Price'] = df['final_amount'] / df['Units_Sold']

In [6]:
df['Unit_Cost'] = df['Price'] * 0.45
df['Holding_Cost'] = df['Unit_Cost'] * 0.02
df['Shortage_Cost'] = df['Unit_Cost'] * 0.10

In [7]:
df['Lead_Time'] = np.random.randint(2,7,size=len(df))

In [8]:
df['Capacity'] = df.groupby('Product')['Units_Sold'].transform('max') * 1.2

In [9]:
df['Revenue'] = df['Units_Sold'] * df['Price']

In [10]:
df.head()

,customer_id,store_name,Date,aisle,Product,Units_Sold,unit_price,total_amount,discount_amount,final_amount,loyalty_points,Price,Unit_Cost,Holding_Cost,Shortage_Cost,Lead_Time,Capacity,Revenue
0,8479,City Fresh Store,2023-08-07,Beverages,Carrots,1.0,28.26,28.26,0.00,28.26,416,28.26,12.7170,0.25434,1.27170,5,6.0,28.26
1,2559,ValuePlus Market,2023-08-07,Meat & Seafood,Pasta,1.0,15.33,15.33,3.07,12.26,426,12.26,5.5170,0.11034,0.55170,4,6.0,12.26
2,8032,FreshMart Downtown,2023-08-08,Dairy,Onions,5.0,12.05,60.25,12.05,48.20,204,9.64,4.3380,0.08676,0.43380,2,6.0,48.20
3,9336,MegaMart Westside,2023-08-08,Beverages,Orange Juice,4.0,11.73,46.92,7.04,39.88,153,9.97,4.4865,0.08973,0.44865,5,6.0,39.88
4,7209,FamilyFood Express,2023-08-08,Meat & Seafood,Yogurt,1.0,25.05,25.05,1.86,23.19,283,23.19,10.4355,0.20871,1.04355,2,6.0,23.19

In [11]:
df.to_csv("/Users/ayushjain/Documents/AI-Powered Business Operations & Profit Optimization System/data/business_data.csv", index=False)