In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/ayushjain/Documents/AI-Powered Business Operations & Profit Optimization System/data/business_data.csv")
forecast = pd.read_csv("../data/forecast.csv")

df['Date'] = pd.to_datetime(df['Date'])
forecast['Date'] = pd.to_datetime(forecast['Date'])

In [4]:
demand_stats = df.groupby('Product')['Units_Sold'].agg(['mean','std']).reset_index()
demand_stats.columns = ['Product','Avg_Demand','Demand_Std']
demand_stats.head()

   Product  Avg_Demand  Demand_Std
0   Apples    3.126214    1.425810
1  Bananas    3.128713    1.494412
2    Bread    2.983333    1.402179
3  Carrots    2.956044    1.429157
4   Cereal    2.991071    1.325397

In [5]:
lead_time = df.groupby('Product')['Lead_Time'].mean().reset_index()
lead_time.columns = ['Product','Avg_Lead_Time']

In [6]:
inventory = pd.merge(demand_stats, lead_time, on='Product')
inventory.head()

   Product  Avg_Demand  Demand_Std  Avg_Lead_Time
0   Apples    3.126214    1.425810       4.087379
1  Bananas    3.128713    1.494412       3.930693
2    Bread    2.983333    1.402179       3.958333
3  Carrots    2.956044    1.429157       4.054945
4   Cereal    2.991071    1.325397       4.169643

In [7]:
z = 1.65
inventory['Safety_Stock'] = z * inventory['Demand_Std'] * np.sqrt(inventory['Avg_Lead_Time'])

In [8]:
inventory['Reorder_Point'] = inventory['Avg_Demand'] * inventory['Avg_Lead_Time'] + inventory['Safety_Stock']

In [9]:
inventory.head()

   Product  Avg_Demand  Demand_Std  Avg_Lead_Time  Safety_Stock  Reorder_Point
0   Apples    3.126214    1.425810       4.087379      4.756286      17.534305
1  Bananas    3.128713    1.494412       3.930693      4.888649      17.186659
2    Bread    2.983333    1.402179       3.958333      4.603028      16.412056
3  Carrots    2.956044    1.429157       4.054945      4.748501      16.735096
4   Cereal    2.991071    1.325397       4.169643      4.465594      16.937294

In [10]:
inventory.to_csv("/Users/ayushjain/Documents/AI-Powered Business Operations & Profit Optimization System/data/inventory_plan.csv", index=False)